html, body, #root {
  height: 100%;
  margin: 0;
  background-color: black;
}
.layout {
  display: grid;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.navbar {
  height: 64px;
}

/* .left {
  grid-area: left;
  height: 100%;
  display: flex;
}

.middle {
  grid-area: middle;
} */
.middle{
  flex: 1;
}
.main{
  /* flex: right; */
  display: flex;
  flex: 1;
}
