.appBarContainer {
  flex-grow: 1;
}

.app-svg {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
}

.home-button{
  padding: 12px;
  height: 24px !important;
  width: 24px !important;
}

.appTool{
  padding: 0px !important;
  display: flex;
  align-items: center;
  gap: 12px;
  width: 100%;
  min-height: 64px !important;
}

.appBar {
  width: 100%;
  background-color: #000 !important;
}

.menuButton {
  margin-right: 16px;
}

.title {
  display: none;
}

@media (min-width: 600px) {
  .title {
    display: block;
  }
}

.desktopMenu {
  display: none;
  margin-left: auto;
}

@media (min-width: 960px) {
  .desktopMenu {
    display: flex;
  }
}

.mobileMenu {
  display: flex;
}

@media (min-width: 960px) {
  .mobileMenu {
    display: none;
  }
}
.searchWrapper {
  position: relative;
  width: 500px;
  height: 48px;
  background-color: #242424;
  border-radius: 999px;
  display: flex;
  align-items: center;
  padding: 0 16px;
}

.searchInput {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  color: white;
  font-size: 16px;
  z-index: 2;
}
.horizontal-line{
  border: 2px;
  color: white;
  height: 20px;
  width: 2px;
  background-color: white;
}
.browse-img{
  padding: 12px;
  height: 24px;
} 

.searchWrapper:hover {
  background-color: #2a2a2a;
}

.searchWrapper:focus-within {
  border: 2px solid white;
}

.searchIconWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #b3b3b3;
  margin-right: 8px;
}